body{
    margin: 0 !important;
    padding: 0 !important;
}
#head{
    background-image: url(bar-ge003af24c_1280\ 1.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 177px;
    width: 360px; 
    background-color: red;
}
#trompette{
    width: 168px;
    height: 228px;
}
#bordel{
    background-color: rgb(255, 132, 0);
}
h2{
    color: beige;
}
#div-trompette{
    background-color: beige;
}
#andre{
    width: 360px;
    height: 194px;
}
hr{
    border-color: red;
    border-width: 2px;
}
#carte{
    border-radius: 16px;
}